@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body{
    background: beige;
}

.seta{
    padding: 20px;
}

.seta ul li{
    list-style: none;
}

.seta ul li a img{
    max-width: 60px;
    background: rgb(245, 165, 53);
    border-radius: 30%;
    border: 10px solid rgb(245, 165, 53);
}

.seta ul li a img:hover{
    background: rgb(205, 109, 19);
    border: 10px solid rgb(205, 109, 19);
}

.titulo{
    background-color: rgb(210, 200, 51);
    border: 10px solid rgb(210, 200, 51);
    align-items: center;
    justify-content: center;
    display: flex;
}

.sub-titulo{
    background-color: rgb(255, 232, 141);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-input{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.input{
    margin-top: 40px;
    line-height: 40px;
    background: rgb(229, 155, 155);
    border: 30px solid rgb(229, 155, 155);
    border-radius: 30px;
    box-shadow: 10px -10px rgb(98, 93, 93);
}

.input input{
    border-width: 0;
    border-radius: 5px;
    outline: 0;
}

.botao{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.botao input{
    background: rgb(240, 170, 71);
    border-width: 0;
    border-radius: 20px;
    width: 180px;
    height: 50px;
}

.botao input:hover{
    background: rgb(205, 109, 19);
    cursor: pointer;
}

.barra-horizontal{
    background-color: rgb(210, 200, 51);
    width: 1350px;
    height: 120px;
    margin-top: 20px;
}

#resposta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#botao-armazenar{
    display: flex;
    text-align: center;
    justify-content: center;
}

#botao-armazenar button{
    margin-top: 10px;
    background: rgb(240, 170, 71);
    border-width: 0;
    border-radius: 20px;
    width: 180px;
    height: 50px;
}

#botao-armazenar button:hover{
    background: rgb(205, 109, 19);
    cursor: pointer;
}

#mensagem-armazenamento{
    display: flex;
    text-align: center;
    justify-content: center;
}

#mensagem-armazenamento h4{
    background: rgb(229, 100, 100);
    margin-top: 10px;
    border-radius: 20px;
    width: 400px;
    height: 30px;
}