@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body{
    background: beige;
}

.seta{
    padding: 20px;
}

.seta ul li{
    list-style: none;
}

.seta ul li a img{
    max-width: 60px;
    background: rgb(245, 165, 53);
    border-radius: 30%;
    border: 10px solid rgb(245, 165, 53);
}

.seta ul li a img:hover{
    background: rgb(205, 109, 19);
    border: 10px solid rgb(205, 109, 19);
}

.texto{
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 600px;
    margin-left: 27%;
    background: rgba(255, 205, 134, 0.631);
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
}

.barra-horizontal{
    background-color: rgba(255, 231, 194, 0.637);
    width: 1350px;
    height: 155px;
    margin-top: 20px;
}