@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    font-size: x-large;
}

body{
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-color:beige;
}

.seta{
    padding: 20px;
    display: block;
}

.seta ul li{
    list-style: none;
}

.seta ul li a img{
    max-width: 60px;
    background: rgb(245, 165, 53);
    border-radius: 30%;
    border: 10px solid rgb(245, 165, 53);
}

.seta ul li a img:hover{
    background: rgb(205, 109, 19);
    border: 10px solid rgb(205, 109, 19);
}

.slider {
    width: 880px;
    height: 400px;
    position: relative;
    transition: all 0,5s;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .slider img {
    width: 880px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    object-fit: cover;
  
  }
  
  .slider img:first-child {
    z-index: 0;
  }
  
  .slider img:nth-child(2) {
    z-index: 0;
  }
  
  .navigation-button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px; 
    margin-left: 2px;
    background-color: #cfcfcf;
    border-radius: 50%;
    display: inline-block;
  }

  figure {
    margin-top: 20px;
    margin-bottom: 90px;
  }
  
  .dot.active,
  .dot:hover {
    background-color: #f0cd4f;
  }

.manual-navegation{
    position: absolute;
    width: 800px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: -150px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left:0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

#radio5:checked ~ .first{
    margin-left: -100%;
}

.carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 500px;
    width: 800px;
    display: flex;
}

.container{
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.img{
    object-fit: cover;
    height: 500px;
    width: 800px;
}

.container-opcoes{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:bisque;
}

a{
    text-decoration: none
}

.casa p{
    background:#eed579;
    margin: 40px;
    border: 13px solid #eed579;
    color: black;
    border-radius: 20px;
}

.apartamento p{
    background:#eed579;
    margin: 40px;
    border: 13px solid #eed579;
    color: black;
    border-radius: 20px;
}

.casa p:hover{
    background:#877120;
    color: white;
    border: 13px solid #877120;
}

.apartamento p:hover{
    background:#877120;
    color: white;
    border: 13px solid #877120;
}